#store {
  height: 40vh;
  padding: 1rem;

  overflow-y: scroll;

  background-color: var(--primary-color);
}

#store h1 {
  text-align: center;
  color: white;
  font-family: Lobster, sans-serif;
}

#store button {
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  background: white;

  color: var(--primary-color);
  font-weight: bold;

  box-shadow: 0 0 0 2px var(--primary-color), 0 0 0 4px white;

  transition: 0.1s;
}

#store button:hover {
  box-shadow: 0 0 0 2px var(--primary-color-lighter), 0 0 0 4px white;
  color: var(--primary-color-lighter);
}

#store button:active {
  box-shadow: 0 0 0 2px var(--primary-color-darker), 0 0 0 4px white;
  color: var(--primary-color-darker);
}


